<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>División de Estudios Profesionales</title>
    <!-- CSS -->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
    <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
    <link rel="stylesheet" href="/frontend/public/css/style.css">
    <link rel="stylesheet" href="../css/styleOpciones.css">

    <script src="/frontend/src/components/Layouts/Navbar.js"></script>
</head>
<body>
    <header></header>
    <main>
        <div class="custom-styles-formatos">
            <div class="container text-center">
                <h3>TITULACIÓN INTEGRAL PLAN DE ESTUDIOS 2009, 2010, 2013 Y 2014</h3>
            </div>
            <div class="container">
                <div class="container-Opcion">
                    <div class="su-note-inner su-u-clearfix su-u-trim">
                        <!-- Mensaje de alerta -->
                        <div class="alert alert-info">
                            <span class="icon-infocircle" aria-hidden="true"></span><strong> Aviso </strong>
                            <!-- Termina mensaje de alerta -->
                            <p class="text-justify">Para poder iniciar la 1.ª Etapa necesitas haber liberado el servicio social y acreditado el idioma de inglés</p>
                            <p class="text-justify">Recuerda que tienes que iniciar sesión primero en Google (no Gmail) con tu correo institucional y después acceder al formulario. Si no cuentas con tu correo institucional (@tectijuana.edu.mx), puedes tramitarlo aquí <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">(formulario)</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <h3><strong>INFORME TÉCNICO DE RESIDENCIA PROFESIONAL</strong></h3>
                <div class="alert alert-info">
                    <p>Este proyecto se registra para titulación<span style="text-decoration: underline;"> hasta que tenga aceptada la residencia (alta) y el tema sea confirmado </span>por el asesor asignado.</p>
                </div>
            </div>
            <div class="container">
                <p>Es un reporte final que acredita <strong>Residencia Profesional</strong> en la cual el estudiante con análisis y reflexión de la experiencia adquirida, llega a <span style="text-decoration: underline;">conclusiones relacionadas con su especialidad</span>. Puede hacerse en forma individual o hasta por tres candidatos, el tema y la elaboración del anteproyecto de residencia es definido por el (los) candidato(s).</p>
                <hr>
            </div>

            <div class="text-center mb-4">
                <span class="custom-badge">Etapa 1</span>
            </div>
            <div class="container">
                <p>Subir 2 archivos PDF y debidamente escaneados con los documentos al siguiente formulario: (antes de llenar el formulario, leer los requisitos)</p>
            </div>
            <div class="container text-center">
                <p class="fs-1" style="color: rgba(0, 0, 255, 0.938); font-size: 20px;">Requisitos para Solicitud Académicos:</p>
            </div>
            <div class="container text-center">
                <p class="fs-1" style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 1 </strong></p>
            </div>
            <div class="container text-justify">
                <p>El nombre del documento PDF, deberá de estar escrito en mayúsculas y será integrado por: No. de Control, Apellido Paterno, carrera abreviada.</p>
                <p>Ejemplo:<strong> 14211688 VEGA SIST. COMP. - SOLICITUD</strong></p>
            
                 <!-- Documento 1 con Iframes -->
                 <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">1. SOLICITUD DE TITULACIÓN INTEGRAL</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/solicitud-residencia-profesional-plan-2010-inscritos-enero-2015.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">2. CERTIFICADO PROFESIONAL DE CARRERA</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/certificadoprofesional_1.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">3. OFICIO "REGISTRO DE PROYECTO"</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/registros-titulacion-int-plan-2009-2014.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Documento 1. segunda fila con Iframes -->
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">4. OFICIO DE LIBERACIÓN DE PROYECTO PARA TITULACIÓN</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/liberacion-tit-int-a-4-firmas-2010.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">5. CONSTANCIA DE SERVICIO SOCIAL</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/constancia-de-servicio-social.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">6. CONSTANCIA DEL IDIOMA INGLÉS</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/constancia-del-idioma-ingles.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Fin-->

                <div class="container text-center">
                    <p class="fs-1" style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 2 </strong></p>
                </div>

                <p class="text-justify">
                    El nombre del segundo documento PDF debe estar escrito en mayúsculas y será integrado por: No. de Control, Apellido Paterno, carrera abreviada.
                    <br>Ejemplo: <strong>14211688 VEGA SIST. COMP. - PROYECTO</strong>
                </p>

                <!-- Documento 2 con Iframes -->
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">1. "PORTADA DE TEMA DEL PROYECTO"</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/portada-plan-2010-inscritos-agt-2015.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">4. OFICIO DE LIBERACIÓN DE PROYECTO PARA TITULACIÓN</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/liberacion-tit-int-a-4-firmas-2010.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="card-title mt-3">3. TRABAJO PROFESIONAL</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/indice-ejemplo.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
              
            </div>

            <div class="container" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                <a href="https://forms.gle/8R1WXVHGoU9CYpLC8" target="_blank">
                    <img src="../img/Formulario2015-2009.png" alt="Formulario de Google Forms">
                </a>
                </div>
                <div class="container" style="text-align: center">
                    <p class="d-inline-flex gap-1">
                        <a href="https://forms.gle/8R1WXVHGoU9CYpLC8" style="font-size: 24px; padding-top: 10px;" class="btn btn-primary" role="button" data-bs-toggle="button">Formulario</a>
                    </p>
                </div>

        </div>
    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</body>
</html>
