<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
   <!-- CSS -->
   <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
   <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
   <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
   <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
   <link rel="stylesheet" href="/frontend/public/css/style.css">
   <link rel="stylesheet" href="../css/styleOpciones.css">

   <script src="/frontend/src/components/Layouts/Navbar.js"></script>
    
</head>
<body>

    <header></header>
    <main>
        <div class="custom-styles-formatos">
            <div class="container" style="text-align: center;">
                <h2>PLAN ESTUDIOS 1993 y ANTERIORES</h2>  
            </div>

            <div class="container" style="text-align: center;">
                <h3><strong>SI ES EGRESADO DE OTRO TECNOLÓGICO (FORÁNEO)</strong> </h3>                   
            </div>

            <div class="container" style="text-align: center;" >
                
                <div class="container" style="text-align: center;">
                    <div class="container">
                        <div class="alert alert-info">
                            
                            <p class="fs-3">
                                <strong>OFICIO NO INCONVENIENCIA</strong><br>
                                Para titularse en Tijuana, solicitar este oficio en su Tecnológico de origen y 
                                entregarlo en la Oficina de Titulación del Departamento de Servicios Escolares, 
                                informes en el correo servestudiantiles@tectijuana.edu.mx.
                            </p>
                        </div>
                        
                        <div class="container foraneo">
                            <img src="../img/OFICIO NO INCONVENIENCIA1.webp" class="img-fluid" alt="TI09-Diagrama">
                        </div> 

                    </div>
                </div>  
                          
            </div>
        </div>

    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>