<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
    <!-- CSS -->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
    <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
    <link rel="stylesheet" href="/frontend/public/css/style.css">
    <link rel="stylesheet" href="../css/styleOpciones.css">

    <script src="/frontend/src/components/Layouts/Navbar.js"></script>
   
</head>
<body>

    <header></header>
    <main>
        <div class="custom-styles-formatos">
            <div class="container" style="text-align: center;">
                <h2>PLAN ESTUDIOS 1993 y ANTERIORES</h2>  
            </div>

            <div class="container">
                <div class="su-note">
                    <div class="p-6 m-0 border-2 bd-example border-0">
                        <div class="alert alert-info">
                            <p style="text-align: justify;">Antes de iniciar tu proceso de titulación deberás obtener los oficios de:</p>
                            <ul style="text-align: justify;">
                                <li>Liberado el servicio social</li>
                                <li>Acreditación del idioma de inglés</li>
                                <li>Contar con los dos correos institucionales (@tectijuana.edu.mx y @tijuana.tecnm.mx). Si no cuentas con ellos, <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">clic aquí.</a></li>
                                <li>Certificación de documentos (servestudiantiles@tectijuana.edu.mx)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <br>
                <div class="container" style="text-align: center;">
                    <h3><strong>Opcion X. Memoria de Residencia Profesional</strong> </h3>                   
                </div>
            </div>
            <div class="container">
                <p>
                    Se denomina Memoria de Residencia Profesional, al informe final que acredita la residencia profesional 
                    en la cual, el estudiante analiza y reflexiona sobre la experiencia adquirida y arriba a conclusiones 
                    relacionadas con su campo de especialidad.
                    <div class="alert alert-info">
                    <ul>
                        <li style="color: brown; list-style-type: disc;">Tiene máximo un año a partir de la fecha de expedición de tu certificado profesional para hacer solicitud.</li>
                    </ul>
                    </div>
                <hr>
            </div>

                     
            <div class="text-center mb-4">
                <span class="custom-badge">Etapa 1</span>
            </div>
    
                <div class="container">
                    
                    <div class="container" style="text-align: center;" >
                        <p class="fs-1" >
                            <p style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 1 </strong></p>
                        </p>              
                    </div>
                </div>
                <div class="container">
                    <p>
                        El nombre del documento PDF, deberá de estar escrito en palabras mayúsculas 
                        y será integrado por: No. de Control, Apellido Paterno, carrera abreviada 
                        (sin palabras Ing. o Lic.), guion medio, opción de titulación (No. Romano),
                        guion medio, y la palabra "SOLICITUD".
                    </p>
                    <p>
                        Ejemplo:<strong>14211688 VEGA BIOQ-X-SOLICITUD </strong> 
                    </p>
                </div>

                <!-- Documento 1 con Iframes -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">1. SOLICITUD DE TITULACIÓN</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/solicitud-1993-y-ant-2.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">2. OFICIO DE CERTIFICACIÓN DE DOCUMENTOS</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/oficio-de-certificacion-de-documentos.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">3. COPIA CERTIFICADO PROFESIONAL DE LA CARRERA</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/certificadoprofesional_1.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!-- Fin-->

                <!-- Documento 2-->
                <div class="container" style="text-align: center;" >
                    <p class="fs-1" >
                        <p style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 2 </strong></p>
                    </p>              
                </div>
                
                <div class="container">            
                <div class="contaienr" style="text-align: justify;">
                    <p>
                        El nombre del documento PDF, deberá de estar escrito en palabras mayúsculas y será integrado por: 
                        No. de Control, Apellido Paterno, carrera abreviada (sin palabras Ing. o Lic.),  guion medio, opción 
                        de titulación (No. Romano), guion medio,  y la palabra "RESULTADOS".
                    </p>
                    <p>
                        Ejemplo:<strong>14211688 VEGA BIOQ-X-RESIDENCIA</strong> 
                    </p>
                </div>

                <!-- Documento 2 con Iframes -->
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">1. SOLICITUD DE TITULACIÓN</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/solicitud-1993-y-ant-2.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">2. CARTA QUE JUSTIFIQUE SU RETRASO PARA SOLICITAR TITULACIÓN OPCIÓN X</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/carta-que-justifique-su-retraso-para-solicitar-titulacion-opcion-x.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h5 class="card-title mt-3">3. COPIA DE RESIDENCIA DIGITALIZADA</h5>
                            <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/portada-1993-y-anteriores.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                <!--Fin Documento 2-->
                </div>

                <!-- Formulario-->
                <div class="container text-center">
                    <div class="container">
                    <div class="alert alert-info">
                        <p class="fs-3" style="color: brown;">
                            <strong>Se debe enviar documentos al siguiente correo:</strong> 
                        </p>
                        <p class="fs-5">titulacion@tectijuana.edu.mx</p>
                    </div>
                    </div>
                </div>
        </div>
        
    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>