<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
    <!-- CSS -->
   <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">

   <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">

   <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
   <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
   <link rel="stylesheet" href="/frontend/public/css/styleResponsive.css">
   <link rel="stylesheet" href="../css/styleOpciones.css">

   <script src="/frontend/src/components/Layouts/Navbar.js"></script>
   
</head>
<body>

    <header></header>
    <main>
        <div class="container-Opcion">
            <div class="container" style="text-align: center;">
                <h2>PLAN ESTUDIOS 1993 y ANTERIORES</h2>  
            </div>

            <div class="container">
                    <br>
                <div class="container" style="text-align: center;">
                    <h3><strong>Opcion V. Curso Especial de Titulación</strong> </h3>                   
                </div>
            </div>

            <div class="container">
                <div class="container">
                    <p>
                        Se denomina Curso Especial de titulación al curso ofrecido por la institución el cual 
                        contribuye al sustento del perfil profesional. Se presenta en 2 etapas:
                    </p>
                    <ol>
                        <li>1.- Participación en curso (mínimo de 90 horas).</li>
                        <li>2.- Por cada alumno se requiere la presentación de una monografía, en un plazo de seis meses a partir de concluido el curso.</li>
                    </ol>
                    <hr>
                </div>
                <div class="container">
                    <div class="alert alert-info">
                        <p class="fs-3">
                            <strong>Nota: Por el momento no hay cursos, se avisará por este medio cuando haya  
                            disponibilidad para inscripciones a curso de titulación. </strong> 
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>