<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
    <!-- CSS -->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
    <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
    <link rel="stylesheet" href="/frontend/public/css/style.css">
    <link rel="stylesheet" href="../css/styleOpciones.css">

    <script src="/frontend/src/components/Layouts/Navbar.js"></script>
    
</head>
<body>

    <header></header>
    <main>
        <div class="custom-styles-formatos">
            <div class="container text-center">
                <h3>TITULACIÓN INTEGRAL PLAN DE ESTUDIOS 2009, 2010, 2013 Y 2014</h3>
            </div>
            <div class="container">
                <div class="alert alert-info">
                    <p class="text-justify">
                                    <p style="text-align: justify;"> Acceder con tu correo institucional, si no cuentas con tu correo institucional
                                    (@tectijuana.edu.mx), puedes tramitarlo aquí
                                    <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">(formulario)</a> </p>
                                </p>
                            </p>
                </div>
            </div>

            <div class="text-center">
                    <p>
                        <h3><strong>EXAMEN CENEVAL</strong> </h3>
                    </p>
                </div>
                
            <div class="container">
                <p>
                    Si no presenta algún proyecto, puede titularse por el Examen General De Egreso de Licenciatura (EGEL). 
                    Aplicado de forma escrita por CENEVAL con opciones múltiples.
                    Más información y registro en la página <a href="www.ceneval.edu.mx ">www.ceneval.edu.mx </a>(EGEL)
                </p>
                <hr>
            </div>

            <div class="container">
                <div class="container" style="text-align: center;" >
                    <p style="font-size: 24px; color: rgb(0, 41, 153);"><strong>Diagrama de procedimiento</strong></p>
                    <img src="../img/Diagramas/CENEVAL IMAGEN.webp" class="img-fluid" alt="img-ceneval">
                </div>
            </div>

            <div class="text-center mb-4">
                <span class="custom-badge">Etapa 1</span>
            </div>
            <div class="container">
                <p>Subir 2 archivos PDF y debidamente escaneados con los documentos al siguiente formulario:
                    (antes de llenar el formulario, leer los requisitos).
                </p>
            </div>
            <div class="container">
                <div class="container" style="text-align: center;" >
                    <p class="fs-1" style="color: rgba(0, 0, 255, 0.938); font-size: 20px;">
                        Requisitos para Solicitud Académicos:
                    </p>              
                </div>
                <div class="container text-center">
                    <p class="fs-1" style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 1 </strong></p>
                </div>

                <div class="contaienr" style="text-align: justify;">
                    <p>
                        El nombre del documento PDF, deberá de estar escrito en mayúsculas
                         y será integrado por:
                        No. de Control, Apellido Paterno, carrera abreviada.
                    </p>
                    <p>
                        Ejemplo:<strong> 14211688 VEGA SIST. COMP. - SOLICITUD</strong> 
                    </p>
                </div>
            </div>
            
                <!-- Documento 1 con Iframes -->
                <div class="container">
                    <!-- Documento 1 con Iframes -->
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <h5 class="card-title mt-3">1. SOLICITUD DE TITULACIÓN INTEGRAL</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/solicitud-plan-agt-2015.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h5 class="card-title mt-3">2. CERTIFICADO PROFESIONAL DE CARRERA</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/certificadoprofesional_1.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <h5 class="card-title mt-3">3. REPORTE DE RESULTADOS DE CENEVAL (TODAS LAS HOJAS)</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/08/reporte-de-resultados-todas-las-hojas.pdf" width="100%" height="300" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h5 class="card-title mt-3">4. TESTIMONIO DE DESEMPEÑO (POR AMBOS LADOS)</h5>
                        <iframe src="https://docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/testimonio-satisfactorio-feb22_png.pdf" width="100%" height="300" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                </div>           
                <!-- Termina Documento 1 con Iframes -->


                <div class="container" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                    <a href="https://forms.gle/8R1WXVHGoU9CYpLC8" target="_blank">
                        <img src="../img/Formulario2015-2009.png" alt="Formulario de Google Forms">
                    </a>
                    </div>
                    <div class="container" style="text-align: center">
                        <p class="d-inline-flex gap-1">
                            <a href="https://forms.gle/8R1WXVHGoU9CYpLC8" style="font-size: 24px; padding-top: 10px;" class="btn btn-primary" role="button" data-bs-toggle="button">Formulario</a>
                        </p>
                    </div>

        </div>
    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>