<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Division de Estudios Profesionales</title>
    <!--Css-->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">

    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link href="/frontend/src/components/layouts/styleNavbar.css" rel="stylesheet"  >
   
    <link href="/frontend/src/components/views/Titulacion/css/styleTitulacion.css" rel="stylesheet">
    <link href="/frontend/public/css/style.css" rel="stylesheet">
    
    <script src="/frontend/src/components/layouts/Navbar.js"></script>

  </head>
  <body>
    <!-- Navbar -->
    <header>

    </header>
    <!-- Navbar -->

    <main>
        <!--Breadcrumb-->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.tijuana.tecnm.mx/"><i class="icon icon-home"></i></a></li>
                <li><a href="/frontend/public/index.html">Division de Estudios Profesionales</a></li>
                <li class="active">Titulación</li>
              </ol>
        </div>
        <!--Fin Breadcrumb-->
        
        <div class="custom-styles">
            <div class="container">
                <h1 style="text-align: center;">Coordinación de apoyo a la Titulación</h1>
                <div class="su-note">
                    <div class="p-6 m-0 border-2 bd-example m-0 border-0">
                        <div class="su-note-inner su-u-clearfix su-u-trim">
                            <ul>El trámite de Titulación se realiza en dos pasos:
                                <li><strong>Paso 1 </strong>: En la Coordinación de Apoyo a la Titulación dependencia de la División de Estudios Profesionales.</li>
                                <li><strong>Paso 2 </strong>: En el Departamento de Servicios Escolares.</li>
                            </ul>
                        </div>
                        <hr class="my-4">
                        <p style="text-align: justify;"><strong>Paso 1 </strong>: Para conocer las opciones de titulación y los requisitos para el registro, selecciona una opcion de acuerdo al año que ingresaste.</p>
                        <p style="text-align: justify;"></p>
                        <p class="muted">El registro de la opción se realizará en línea, desde tu correo institucional (con dominio @tectijuana.edu.mx). Si no tienes correo institucional con dominio: @tectijuana.edu.mx 
                            <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/" data-bs-toggle="tooltip" data-bs-title="Default tooltip">clic aqui para mas información.</a> 
                            <br>Dudas: solicitud.titulacion@tectijuana.edu.mx Tel. (664) 607-84-00 ext. 178, ext 100.
                        </p>
                        <p style="text-align: justify;">Para seleccionar el plan de estudio de titulación que te corresponde, deberás verificar en tu Certificado Profesional el mes y año de inicio tu carrera y plan de estudios.</p>
                    </div>
                    </div>

                    <!-- Termina Texto Division de Estudios-->

                    
                        <div class="row">
                          <!-- Card 1 -->
                          <div class="col-md-6 mb-3">
                            <div class="card">
                              <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../Titulacion/img/titulo.png" class="img-fluid rounded-start" alt="img2015">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Titulación Integral</h5>
                                    <p class="card-text">Plan de estudios para inscritos a la carrera después de Agosto-2015</p>
                                    <p><a class="btn btn-default" href="../Titulacion/Plan2015.html" role="button">Ver detalles &raquo;</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Card 2 -->
                          <div class="col-md-6 mb-3">
                            <div class="card">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img src="../Titulacion/img/Opciones/2009.png" class="img-fluid rounded-start custom-image" alt="img2009">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Titulación Integral</h5>
                                    <p class="card-text">Plan de estudios para inscritos a la carrera 2009, 2010, 2013 y 2014</p>
                                    <p><a class="btn btn-default" href="/frontend/src/components/views/Titulacion/Plan2009.html" role="button">Ver detalles &raquo;</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <!-- Card 3 -->
                          <div class="col-md-6 mb-3">
                            <div class="card">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img src="../Titulacion/img/Plan2004.jpg" class="img-fluid rounded-start custom-image" alt="img2004">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Plan 2004 - 2008</h5>
                                    <p class="card-text">Plan de estudios para inscritos a la carrera entre 2004 - 2008</p>
                                    <p><a class="btn btn-default" href="/frontend/src/components/views/Titulacion/Plan2004.html" role="button">Ver detalles &raquo;</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Card 4 -->
                          <div class="col-md-6 mb-3">
                            <div class="card">
                              <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                  <img src="../Titulacion/img/1993 aula.png" class="img-fluid rounded-start custom-image" alt="img1993">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Plan 1993 y Anteriores</h5>
                                    <p class="card-text">Plan de estudios para inscritos a la carrera antes del 2004</p>
                                    <p><a class="btn btn-default" href="/frontend/src/components/views/Titulacion/Plan1993.html" role="button">Ver detalles &raquo;</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
            </div>
        </div>

    </main>



    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</body>

</html>