<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
    <!-- CSS -->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
    <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
    <link rel="stylesheet" href="/frontend/public/css/style.css">
    <link rel="stylesheet" href="../css/styleOpciones.css">

    <script src="/frontend/src/components/Layouts/Navbar.js"></script>
    
    
</head>

<body>
<!-- Header, Menu -->
<header></header>

    <main>
        <!--Breadcrumb-->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.tijuana.tecnm.mx/"><i class="icon icon-home"></i></a></li>
                <li><a href="/frontend/public/index.html">Division de Estudios Profesionales</a></li>
                <li><a href="../Titulacion/index.html">Titulacion</a></li>
                <li class="active">Titulación Integral 2009</li>
              </ol>
        </div>
        <!--Fin Breadcrumb-->
        <!-- Contenido -->
        <div class="container">
            <h2 class="titulación" style="text-align: center;"> Coordinación de Apoyo a la Titulación</h2>
            <div class="container">
                <h3 class="titulación" style="text-align: center;">TITULACIÓN INTEGRAL
                    <p>PLAN DE ESTUDIOS 2009, 2010, 2013 Y 2014</p>
                </h3>
            </div>
            <div class="su-note">
                <div class="p-6 m-0 border-2 bd-example m-0 border-0">
                    <div class="alert alert-info">     
                        <!-- Mensaje de alerta -->           
                        <div class="container-Alert" style="text-align: center; font-size: 25px;">
                            <span class="icon-infocircle" aria-hidden="true"></span><strong> Aviso </strong>
                        </div>
                        <!-- Termina mensaje de alerta -->            
                        <p style="text-align: justify;">Para poder iniciar la 1.ª Etapa necesitas haber liberado el servicio social y acreditado el idioma de inglés</p>
                        <p style="text-align: justify;">Recuerda que tienes que iniciar sesión primero en Google (no Gmail) con tu correo institucional y después acceder al formulario. Si no cuentas con tu correo institucional (@tectijuana.edu.mx), puedes tramitarlo aquí <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">(formulario)</a></p>
                    </div>
                    <div class="container">
                        <img src="../Titulacion/img/Diagramas/plan 2099-2015 imagen.webp" class="img-fluid" alt="TI09-Diagrama">
                    </div>
                </div>
                <h3 class="titulación" style="text-align: center;"> Selecciona un tipo de titulación</h3>
            </div>
            <br>

            <div class="custom-styles-card">
                <div class="container text-justify">

                    <!--Opciones de titulacion-->
                    <div class="row">
                        <!-- Primera columna -->
                        <div class="col-md-6 mb-3">
                            <div class="card h-100" id="cardTLP">
                                <img src="../Titulacion/img/Opciones/memoriaResidencia.jpg" class="card-img-top" alt="InformeTecnico">
                                <div class="card-body d-flex flex-column">
                                    <a href="../Titulacion/Plan2009/TI-ITRP.html" class="btn" role="button" data-bs-toggle="button">
                                        Informe Técnico de Residencia profesional
                                        </a>
                                </div>
                            </div>
                            

                            <div class="card h-100 mt-3" id="cardTLP">
                                <img src="../Titulacion/img/Opciones/Tesis93-04-15.png" class="img-fluid" alt="Tesis">
                                <div class="card-body d-flex flex-column">
                                    <a href="../Titulacion/Plan2009/TI-Tesis.html" class="btn" role="button" data-bs-toggle="button">Tésis</a>
                                </div>
                            </div>
                            

                            <div class="card h-100">
                                <img src="../Titulacion/img/Opciones/ProInvestigacion.png" class="card-img-top" alt="Examen Global">
                                <div class="card-body d-flex flex-column">
                                    <a href="../Titulacion/Plan2009/TI-PI.html" class="btn" role="button" data-bs-toggle="button">Proyecto de Investigación</a>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Segunda columna -->
                        <div class="col-md-6 mb-3">
                            <div class="card h-100 mt-3">
                                <img src="../Titulacion/img/Opciones/ProInvestigacion.png" class="card-img-top" alt="PIT">
                                <div class="card-body d-flex flex-column">
                                    <a href="../Titulacion/Plan2009/TI-PIT.html" class="btn" role="button" data-bs-toggle="button">Proyecto de Innovación Tecnológica</a>
                                </div>
                            </div>
                            
                            <div class="card h-100 mt-3">
                                <img src="../Titulacion/img/Opciones/CenevalExamen.png" class="card-img-top" alt="Ceneval">
                                <div class="card-body d-flex flex-column">
                                    <a href="../Titulacion/Plan2009/TI-Ceneval.html" class="btn" role="button" data-bs-toggle="button">Examen Ceneval</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de opciones de titulacion-->
                </div>
            </div>
            
            </div>
        

    </main>
    <br>

<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>

</html>
