<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
   <!-- CSS -->
   <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
   <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
   <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
   <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
   <link rel="stylesheet" href="/frontend/public/css/style.css">
   <link rel="stylesheet" href="../css/styleOpciones.css">

    <script src="/frontend/src/components/Layouts/Navbar.js"></script>
    <script src="/frontend/src/components/layouts/Navbar.js"></script>
</head>

<body>
<!-- Header, Menu -->
<header></header>

    <main>
        <!--Breadcrumb-->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.tijuana.tecnm.mx/"><i class="icon icon-home"></i></a></li>
                <li><a href="/frontend/public/index.html">Division de Estudios Profesionales</a></li>
                <li><a href="../Titulacion/index.html">Titulacion</a></li>
                <li class="active">Titulación Integral 2015</li>
              </ol>
        </div>
        <!--Fin Breadcrumb-->
        <!-- Contenido -->
        <div class="container">
            <h2 class="titulación" style="text-align: center;">Coordinación de Apoyo a la Titulación</h2>
                       
            <div class="container" style="text-align: center;">
                <h3 class="titulación">TITULACIÓN INTEGRAL</h3>
               
            </div>
            <div class="container" style="text-align: center;">
                <h4>PLAN DE ESTUDIOS PARA INSCRITOS A LA CARRERA DESPUÉS DE AGOSTO 2015</h4>
            </div>
            <div class="alert alert-info">
                <div class="p-6 m-0 border-2 bd-example m-0 border-0">
                    <div class="su-note-inner su-u-clearfix su-u-trim">
                        <p style="text-align: justify;">Acceder con tu correo institucional. Si no cuentas con tu correo institucional (@tectijuana.edu.mx), puedes tramitarlo aquí <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">(formulario)</a></p>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <img src="../Titulacion/img/Diagramas/AGT 2015.webp" class="img-fluid" alt="img-TIResidencia">
            </div>
            <h3 class="titulación" style="text-align: center;">Selecciona un tipo de titulación</h3>
        </div>

            
            <div class="custom-styles-card">
                <div class="container text-justify">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="card">
                                <img src="../Titulacion/img/Opciones/memoriaResidencia.jpg" class="card-img-top" alt="imgResidencia">
                                <div class="card-body">
                                    <a href="../Titulacion/Plan2015/TI-Resi.html" class="btn" role="button" data-bs-toggle="button">Residencia Profesional</a>
                                </div>
                            </div>                         
                           
                            <div class="card" >
                                <img src="../Titulacion/img/Opciones/Tesis93-04-15.png" class="card-img-top" alt="imgTesis">
                                <div class="card-body">
                                    <a href="../Titulacion/Plan2015/TI-Tesis.html" class="btn" role="button" data-bs-toggle="button">Tésis</a>
                                </div>
                            </div>  
                            
                            <div class="card" >
                                <img src="../Titulacion/img/Opciones/ProInvestigacion.png" class="card-img-top" alt="imgProInvestigacion">
                                <div class="card-body">
                                    <a href="../Titulacion/Plan2015/TI-15PI.html" class="btn" role="button" data-bs-toggle="button">Proyecto de Investigación</a>
                                </div>
                            </div>   
                            
                        </div>
                        <div class="col-md-6">

                            <div class="card">
                                <img src="../Titulacion/img/Opciones/ProInvestigacion.png" class="card-img-top" alt="imgPIT">
                                <div class="card-body">
                                    <a href="../Titulacion/Plan2015/TI-15PIT.html" class="btn" role="button" data-bs-toggle="button">Proyecto de Innovación Tecnológica</a>
                                </div>
                            </div>  

                            <div class="card">
                                <img src="../Titulacion/img/Opciones/CenevalExamen.png" class="card-img-top" alt="imgPIT">
                                <div class="card-body">
                                    <a href="../Titulacion/Plan2015/TI-15Ceneval.html" class="btn" role="button" data-bs-toggle="button">Examen Ceneval</a>
                                </div>
                            </div>  

                        </div>
                    </div>
                </div>
            </div>
        
        
    </main>
    <br>

<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>

</html>
