<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>División de Estudios Profesionales</title>
    <!-- CSS -->
    <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
    <link rel="stylesheet" href="/frontend/public/css/style.css">
    <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">


    <script src="/frontend/src/components/layouts/Navbar.js"></script>
    
    
</head>

<body>
    <!-- Header, Menu -->
    <header></header>

    <main>
        <!--Breadcrumb-->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="https://www.tijuana.tecnm.mx/"><i class="icon icon-home"></i></a></li>
                <li><a href="/frontend/public/index.html">División de Estudios Profesionales</a></li>
                <li><a href="../Titulacion/index.html">Titulación</a></li>
                <li class="active">Plan 1993</li>
            </ol>
        </div>
        <!--Fin Breadcrumb-->

        <!-- Contenido -->
        <div class="custom-styles-card"> 

        <div class="container">
            <h2 class="titulación text-center">Coordinación de Apoyo a la Titulación</h2>
            <div class="container" style="text-align: center;">
                <h3>Plan 1993 y Anteriores</h3>
            </div>
            <div class="alert alert-info">
                <div class="p-6 m-0 border-2 bd-example m-0 border-0">
                    <div class="su-note-inner su-u-clearfix su-u-trim">
                        <p class="text-justify">Antes de iniciar tu proceso de titulación deberás obtener los oficios de:</p>
                        <ul class="text-justify">
                            <li>Liberado el servicio social</li>
                            <li>Acreditación del idioma de inglés</li>
                            <li>Contar con los dos correos institucionales (@tectijuana.edu.mx y @tijuana.tecnm.mx). Si no cuentas con ellos, <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/" data-bs-toggle="tooltip" data-bs-title="Default tooltip">clic aquí.</a></li>
                            <li>Certificación de documentos (servestudiantiles@tectijuana.edu.mx)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <img src="../Titulacion/img/Diagramas/DIAGRAMA-TITULACION-1993.webp" class="img-fluid" alt="img-TIResidencia">
            </div>
            <h3 class="titulación text-center">Selecciona un tipo de titulación</h3>
            <br>
            <!--Container-->
            
                <div class="row">
                    <!-- Primera columna -->
                    <div class="col-md-6 mb-3">
                        <!-- Primera columna tarjetas -->
                        <div class="card h-100" id="cardTLP" >
                            <img src="../Titulacion/img/Opciones/Tesis93-04-15.png" class="card-img-top" alt="Tesis Profesional" >
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion1.html" class="btn" role="button" data-bs-toggle="button">Opción I. Tesis Profesional</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3" id="cardTLP">
                            <img src="../Titulacion/img/Opciones/PrototipoDidactico.png" class="card-img-top" alt="Libros de texto">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion2.html" class="btn" role="button" data-bs-toggle="button">Opción II. Libros de texto o prototipos didácticos</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3" id="cardTLP">
                            <img src="../Titulacion/img/Opciones/ProInvestigacion.png" class="img-fluid" alt="Proyecto de Investigación">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion3.html" class="btn" role="button" data-bs-toggle="button">Opción III. Proyecto de Investigación</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/RediseñodeEquipo.png" class="card-img-top" alt="Diseño o rediseño">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion4.html" class="btn" role="button" data-bs-toggle="button">Opción IV. Diseño o rediseño de equipo, aparato o maquinaria</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/training.webp" class="card-img-top" alt="Cursos especiales">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion5.html" class="btn" role="button" data-bs-toggle="button">Opción V. Cursos especiales de titulación</a>
                            </div>
                        </div>
                    </div>
                    <!-- Segunda columna -->
                    <div class="col-md-6 mb-3">
                        <div class="card h-100" >
                            <img src="../Titulacion/img/Opciones/CenevalExamen.png" class="card-img-top" alt="Examen Global">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion6.html" class="btn" role="button" data-bs-toggle="button">Opción VI. Examen Global por áreas de conocimiento</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/memoriaExperiencia.webp" class="card-img-top" alt="Memoria de experiencia">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion7.html" class="btn" role="button" data-bs-toggle="button">Opción VII. Memoria de experiencia profesional</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/PromedioExamen.png" class="card-img-top" alt="Escolaridad por promedio">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion8.html" class="btn" role="button" data-bs-toggle="button">Opción VIII. Escolaridad por promedio</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/posgrado.jpg" class="card-img-top" alt="Escolaridad por estudios de posgrado">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Opcion9.html" class="btn" role="button" data-bs-toggle="button">Opción IX. Escolaridad por estudios de posgrado</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/memoriaResidencia.jpg" class="card-img-top" alt="Memoria de residencia">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/OpcionX.html" class="btn" role="button" data-bs-toggle="button">Opción X. Memoria de residencia profesional</a>
                            </div>
                        </div>
                        <div class="card h-100 mt-3">
                            <img src="../Titulacion/img/Opciones/foraneo.jpg" class="card-img-top" alt="Egresado de otro tecnológico">
                            <div class="card-body">
                                <a href="../Titulacion/Plan1993/Foraneo.html" class="btn" role="button" data-bs-toggle="button">Si es egresado de otro tecnológico (Foráneo)</a>
                            </div>
                        </div>
                    </div>
                </div>
           
            <!--Fin container-->
        </div>

        </div>
    </main>

    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>

</html>
