<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Division de Estudios Profesionales</title>
     <!-- CSS -->
     <link href="/frontend/public/img/logo-dep.ico" rel="shortcut icon" type="image/x-icon">
     <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
     <link rel="stylesheet" href="/frontend/src/components/Layouts/styleNavbar.css">
     <link rel="stylesheet" href="../Titulacion/css/styleTitulacion.css">
     <link rel="stylesheet" href="/frontend/public/css/style.css">
     <link rel="stylesheet" href="../css/styleOpciones.css">
 
   <script src="/frontend/src/components/Layouts/Navbar.js"></script>
    
</head>
<body>

    <header></header>
    <main>
        
        <div class="custom-styles-formatos">
            <div class="container text-center">
                <h2>PLAN DE ESTUDIOS 2004-2008</h2>  
            </div>

            <div class="container">
                <div class="su-note">
                    <div class="p-6 m-0 border-2 bd-example border-0">
                        <div class="alert alert-info">
                            <p style="text-align: justify;">Antes de iniciar tu proceso de titulación deberás obtener los oficios de:</p>
                            <p style="text-align: justify;"> 1.- Solicita el oficio de  Certificación de documentos en: </p>
                            <ul style="text-align: justify;">
                                <li style="padding-left: 40px;"> servestudiantiles@tectijuana.edu.mx o al teléfono 664-607-84-22 ext: 122</li>
                           </ul>
                           <p style="text-align: justify;"> 2.- Tener liberado el servicio social y acreditado el idioma de inglés. </p>
                           <p style="text-align: justify;"> 3.- Solicitar tu correo institucional y después acceder al formulario. 
                            Si no cuentas con tu correo institucional (@tectijuana.edu.mx), puedes tramitarlo aquí 
                            <a href="https://www.tijuana.tecnm.mx/correo-institucional-2/">(formulario)</a> </p>
                        </div>
                    </div>
                </div>
                    <br>
                <div class="container" style="text-align: center;">
                    <h3><strong>Opcion VIII. Escolaridad por Promedio</strong> </h3>                   
                </div>
                
            </div>
            <div class="container">
                <p>
                    Se considera <strong>Escolaridad por Promedio</strong> a la condición que cumple el egresado para titularse sin 
                    realizar ningún trabajo profesional, por haber obtenido un promedio aritmético de calificación 
                    sobresaliente mínima de 90 en el total de su carrera, habiendo acreditado cuando menos el 90% 
                    de sus asignaturas en curso normal.
                </p>
                <hr>
            </div>

            <div class="container" style="text-align: center;" >
                
                <div class="container" style="text-align: center;">
                    <div class="container">
                        <div class="alert alert-info">
                            <p class="fs-3" style="color: brown;">
                                <strong>Se debe enviar documentos al siguiente correo:</strong> 
                            </p>
                            <p class="fs-5">titulacion@tectijuana.edu.mx</p>
                        </div>
                    </div>
                   
                </div>        
            </div>
            <div class="text-center mb-4">
                <span class="custom-badge">Etapa 1</span>
            </div>
            <div class="container">
                <div class="container" style="text-align: center;" >
                    <p class="fs-1" >
                        <p style="color: rgba(0, 0, 255, 0.938); font-size: 24px;"><strong> DOCUMENTO PDF 1 </strong></p>
                    </p>              
                </div>

                <div class="contaienr" style="text-align: justify;">
                    <p>
                        El nombre del documento PDF, deberá de estar escrito en palabras mayúsculas 
                        y será integrado por: No. de Control, Apellido Paterno, carrera abreviada 
                        (sin palabras Ing. o Lic.), guion medio, opción de titulación (No. Romano),
                        guion medio, y la palabra "SOLICITUD".
                    </p>
                    <p>
                        Ejemplo:<strong> 14211688 VEGA BIOQ-VIII-SOLICITUD</strong> 
                    </p>
                </div>
            </div>

                     <!-- Documento 1 con Iframes -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <h5 class="card-title mt-3">1. SOLICITUD DE TITULACIÓN</h5>
                                <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/solicitud-1993-y-ant-2.docx" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-4 mb-4">
                                <h5 class="card-title mt-3">2. OFICIO DE CERTIFICACIÓN DE DOCUMENTOS</h5>
                                <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/oficio-de-certificacion-de-documentos.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-4 mb-4">
                                <h5 class="card-title mt-3">3. COPIA CERTIFICADO PROFESIONAL DE LA CARRERA</h5>
                                <iframe src="//docs.google.com/viewer?embedded=true&url=https://estudiosprofesionales7.wordpress.com/wp-content/uploads/2024/06/certificadoprofesional_1.pdf" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Fin-->


                    <!-- Formulario-->
                <div class="container text-center">
                    <div class="container">
                    <div class="alert alert-info">
                        <p class="fs-3" style="color: brown;">
                            <strong>Se debe enviar documentos al siguiente correo:</strong> 
                        </p>
                        <p class="fs-5">titulacion@tectijuana.edu.mx</p>
                    </div>
                    </div>
                </div>
        </div>

    </main>
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

</body>
</html>